stages:
  - deploy

before_script:
  - hostname
  - python3 --version

deploy-revpi-tt:
  only:
    - main
  stage: deploy
  tags:
    - revpi104544
    - shell
  script:
    - echo "$ENV_CONFIG" > .env
    - chmod +x install.sh
    - ./install.sh --force

deploy-revpi-mb:
  only:
    - main
  stage: deploy
  tags:
    - revpi120532
    - shell
  script:
    - echo "$ENV_CONFIG" > .env
    - chmod +x install.sh
    - ./install.sh --force
